
.movieBox {
    margin: 20px;
    display: flex;

    
    background-color: rgba(255, 136, 0, 0.103);
    border-radius: 0 60px 60px 0;

}

.movieText {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.movieTextHead {
    font-weight: bolder;
    margin: 10px 0 10px 0;
}

.movieDescription {
    margin-bottom: 40px;
}


.movieTextRating {

    color: orange;
    font-size: large;
    font-weight: medium;
    display: flex;

}

.outRating {
    color: aliceblue;
    margin-left: 7px;
}

.Img {
    max-height: 200px;
    object-fit: contain;
    margin: 2%;
}


@media (max-width: 600px) {
    .movieBox {
        flex-direction: column;
        align-items: center; 
        
    }
    .Img {
        max-height: 150px;
        margin-top: 10px; 
    }
    .movieText {
        margin-left: 0; 
        text-align: center; 
        margin: 0 10px 0 10px;
    }

    .movieTextRating {
        display: flex;
        justify-content: center;
        margin: 10px 0 10px 0;
    }
}